

.skills-page{
    width: 100%; height: 100%; padding: 30px 20px;
    overflow-x: hidden; overflow-y: auto;
}





.skills-page .header-section{
    width: 100%; height: 100%;
    display: flex; flex-direction: row; flex-wrap: wrap;
    justify-content: center; gap: 60px;
    align-content: center; margin-bottom: 50px;
}
.skills-page .header-section h2{
    width: 100%; text-align: center; padding: 30px 0;
    font-size: 50px; color: #00a6ff; font-weight: 900;
}
.skills-page .header-section .skills-types{
    width: 80%; display: flex; flex-direction: row; flex-wrap: wrap;
    justify-content: center; align-items: center; gap: 40px;
}
.skills-page .header-section .skills-types .skill-type-card{
    width: 270px; height: 100px; border-radius: 4px;
    overflow: hidden; background-color: #f9f9f9; cursor: pointer;
    border: 1px solid #eee; display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: center; align-items: center; gap: 10px;
}
.skills-page .header-section .skills-types .skill-type-card img{
    width: 50px;
}
.skills-page .header-section .scroll-down{
    width: 100%; padding: 40px;
    display: flex; flex-direction: column; flex-wrap: nowrap;
    justify-content: center; align-items: center;
}
.skills-page .header-section .scroll-down button{
    width: 180px; height: 45px; margin: 10px 0;
    color: #00a6ff; cursor: pointer;
    background-color: white; font-size: 18px;
    border: 1px solid #00a6ff;
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: center; align-items: center;
    border-radius: 50px; transition: all 0.2s;
}
.skills-page .header-section .scroll-down button:hover{
    background-color: #00a6ff; color: white;
}
.skills-page .header-section .scroll-down ion-icon{
    font-size: 35px; color: #00a6ff;
    animation: scroll-down 1.6s infinite ease-in-out;
}

@media only screen and (max-width: 700px) {
    .skills-page .header-section{ gap: 10px; }
    .skills-page .header-section h2{ font-size: 30px; }
    .skills-page .header-section .skills-types{ width: 100%; }
    .skills-page .header-section .skills-types{ gap: 10px; }
    .skills-page .header-section .scroll-down{ padding: 10px; }
}

@keyframes scroll-down {
    0%{ translate: 0 0; }
    70%{ translate: 0 20px; }
    100%{ translate: 0 0; }
}





.skills-page .technical-skills-section{
    display: flex; flex-direction: column; flex-wrap: nowrap;
    justify-content: center; align-items: center; margin-bottom: 50px;
}
.skills-page .technical-skills-section h3{
    text-align: center; margin-bottom: 40px;
    width: fit-content; background-color: #fff;
    position: relative; color: #666; padding: 0 15px;
}
.skills-page .technical-skills-section h3::before{
    content: "";
    width: 80vw; height: 1px;
    background-color: #bbb;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.skills-page .technical-skills-section .technical-skills-list{
    width: 80%; display: flex; flex-direction: row; flex-wrap: wrap;
    justify-content: center; align-items: center; gap: 15px;
}
.skills-page .technical-skills-section .technical-skills-list .technical-skill-card{
    width: 140px; height: 140px; cursor: pointer;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px; position: relative;
    display: flex; flex-direction: column; flex-wrap: nowrap;
    justify-content: center; align-items: center; gap: 5px;
}
.skills-page .technical-skills-section .technical-skills-list .technical-skill-card.active-skill{
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.2);
}
.skills-page .technical-skills-section .technical-skills-list .technical-skill-card .image-progress{
    width: 80px; height: 80px; position: relative;
}
.skills-page .technical-skills-section .technical-skills-list .technical-skill-card .image-progress img{
    width: 80px; border-radius: 50%;
    filter: grayscale(30%) opacity(70%);
}
.skills-page .technical-skills-section .technical-skills-list .technical-skill-card .image-progress canvas{
    position: absolute; left: 50%; top: 50%; z-index: 10;
	transform: translate(-50%, -50%) rotate(-90deg) scale(0.25);
}
.skills-page .technical-skills-section .technical-skills-list .technical-skill-card p{
    color: #00a6ff; font-weight: 600;
}
.skills-page .technical-skills-section .technical-skills-list .technical-skill-card span{
    width: 100%; opacity: 0; visibility: hidden;
    background-color: #fff; border-radius: 4px;
    position: absolute; top: 80%; left: 0; z-index: 20;
    text-align: center; font-size: 12px; padding: 10px;
    filter: drop-shadow(0 2px 13px rgba(0, 0, 0, 0.2));
    transition: all 0.3s; line-height: 150%; color: #00a6ff;
}
.skills-page .technical-skills-section .technical-skills-list .technical-skill-card span::before{
    content: "";
    width: 15px; height: 15px; background-color: #fff;
    position: absolute; left: 50%; top: -7.5px;
    transform: translate(-50%, 0) rotate(-45deg);
}
.skills-page .technical-skills-section .technical-skills-list .technical-skill-card.active-skill .image-progress img{
    filter: grayscale(0%) opacity(100%);
}
.skills-page .technical-skills-section .technical-skills-list .technical-skill-card.active-skill span{
    top: calc(100% + 7.5px); opacity: 1; visibility: visible;
}

@media only screen and (max-width: 700px) {
    .skills-page .technical-skills-section .technical-skills-list{ width: 100%; }
}





.skills-page .languages-section{
    display: flex; flex-direction: column; flex-wrap: nowrap;
    justify-content: center; align-items: center; margin-bottom: 50px;
}
.skills-page .languages-section h3{
    text-align: center; margin-bottom: 40px;
    width: fit-content; background-color: #fff;
    position: relative; color: #666; padding: 0 15px;
}
.skills-page .languages-section h3::before{
    content: "";
    width: 80vw; height: 1px;
    background-color: #bbb;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.skills-page .languages-section .languages-data{
    width: 80%; display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: center; align-items: center; row-gap: 30px; column-gap: 20px;
}
.skills-page .languages-section .languages-data>img{
    width: 100px; filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.1));
}
.skills-page .languages-section .languages-data .language-card{
    width: 100%; padding: 10px; border-radius: 20px;
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: flex-start; align-items: center;
    background-color: #fff; position: relative;
    filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.1));
}
.skills-page .languages-section .languages-data .language-card img{
    width: 60px;
}
.skills-page .languages-section .languages-data .language-card h4{
    font-size: 20px; padding-left: 10px; font-weight: 600;
}
.skills-page .languages-section .languages-data .language-card p{
    margin: 0 30px 0 auto; color: #666;
    font-weight: 400; font-size: 15px;
}
.skills-page .languages-section .languages-data .language-card::before{
    content: "";
    width: 0px; height: 0px;
    position: absolute;
}
.skills-page .languages-section .languages-data .language-card.arabic::before{
    top: 50%; right: auto; bottom: auto; left: 100%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid transparent;
    border-left: 15px solid #fff;
    transform: translate(0, -50%);
}
.skills-page .languages-section .languages-data .language-card.english::before{
    top: 50%; right: 100%; bottom: auto; left: auto;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    border-left: 15px solid transparent;
    transform: translate(0, -50%);
}

@media only screen and (max-width: 700px) {
    .skills-page .languages-section .languages-data{
        width: 100%; flex-direction: column;
    }
    .skills-page .languages-section .languages-data .language-card.arabic::before{
        top: 100%; left: 50%;
        top: 100%; right: auto; bottom: auto; left: 50%;
        border-top: 15px solid #fff;
        border-bottom: 15px solid transparent;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        transform: translate(-50%, 0);
    }
    .skills-page .languages-section .languages-data .language-card.english::before{
        bottom: 100%; left: 50%;
        top: auto; right: auto; bottom: 100%; left: 50%;
        border-top: 15px solid transparent;
        border-bottom: 15px solid #fff;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        transform: translate(-50%, 0);
    }
}





.skills-page .soft-skills-section{
    display: flex; flex-direction: column; flex-wrap: nowrap;
    justify-content: center; align-items: center; margin-bottom: 20px;
}
.skills-page .soft-skills-section h3{
    text-align: center; margin-bottom: 40px;
    width: fit-content; background-color: #fff;
    position: relative; color: #666; padding: 0 15px;
}
.skills-page .soft-skills-section h3::before{
    content: "";
    width: 80vw; height: 1px;
    background-color: #bbb;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.skills-page .soft-skills-section .soft-skills-details{
    width: 80%; display: flex; flex-direction: row; flex-wrap: wrap;
    justify-content: center; align-items: center; gap: 20px;
}
.skills-page .soft-skills-section .soft-skills-details .soft-skill-card{
    min-width: fit-content; padding: 10px; height: 50px;
    background-color: #f9f9f9; transition: all 0.3s;
    border: 1px solid #eee; border-radius: 50px;
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: center; align-items: center; gap: 10px;
}
.skills-page .soft-skills-section .soft-skills-details .soft-skill-card:hover{
    background-color: #f1f1f1; border: 1px solid #ddd;
}
.skills-page .soft-skills-section .soft-skills-details .soft-skill-card ion-icon{
    color: #00a6ff; font-size: 23px;
}
.skills-page .soft-skills-section .soft-skills-details .soft-skill-card span{
    width: 100%; line-height: 150%; font-size: 18px;
}


@media only screen and (max-width: 700px) {
    .skills-page .soft-skills-section .soft-skills-details{ width: 100%; }
    .skills-page .soft-skills-section .soft-skills-details .soft-skill-card{ width: 100%; }
    .skills-page .soft-skills-section .soft-skills-details .soft-skill-card span{ width: 90%; }
}




